h1 Items list 
 ul 
    each item in items
        if item
            li=item.message
            li=item.time 
            li=item.Userid
            hr

        else
            li="nothing found"
            hr 